<div>
  <label>Name: </label>
  <input type="text"></input>
</div>
<div>
  <label>email: </label>
  <input type="text"></input>
</div>
<div>
  <label>address: </label>
  <input type="text"></input>
</div>