<div class="lista">
	<ul class="list-group">
		<div ng-repeat="person in people">
			<a href="#/people-single-view/{{person.id}}">
			  	<li class="list-group-item">
			  		<p>{{person.name}}</p>
			  		<p>{{person.email}}</p>
			  		<img ng-src="{{person.image_url}}"/>
			  	</li>
		  	</a>
	  	</div>
	</ul>
	<a href="#/add-people"><button type="button" class="btn btn-primary">Primary</button></a>
	
</div>
